doctype html
html
  head
    meta(charset='UTF-8')
    title 네이버 지도 API - 주소로 지도 표시하기
    script(type='text/javascript', src='https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Fr6pjBddAuO8TE0g0nP9&submodules=geocoder')
    link(rel="stylesheet" type="text/css" href="/css/template.css")
  body
    #map
    script(type='text/javascript', src='/js/template.js')
